.compositions {
    position: relative;

    &__photo {
        width: 17%;
        box-shadow: 0 1.5rem 4rem rgba($color-primary-dark , $alpha: .4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;




        &--p1 {

            left: 0;
            top: -1rem;
        }

        &--p2 {

            right: 70%;
            top: -3.5rem;
        }

        &--p3 {

            right: 55%;
            top: -1rem
        }

        &--p4 {

            right: 40%;
            top: -3.5rem
        }

        &--p5 {

            right: 25%;
            top: -1rem
        }

        &--p6 {

            right: 11%;
            top: -3.5rem
        }

        &--p7 {

            left: 0%;
            top: 14rem;

        }

        &--p8 {

            left: 15%;
            top: 15.5rem;
        }

        &--p9 {

            left: 30%;
            top: 14rem;
        }

        &--p10 {

            left: 45%;
            top: 20.5rem;
        }

        &--p11 {

            left: 59%;
            top: 13rem;
        }

        &--p12 {

            left: 72%;
            top: 19.5rem;
        }

        &:hover {
            // outline: 1rem solid $color-primary-light;
            transform: scale(1.7);
            box-shadow: 0 2.5rem 4rem rgba($color-primary-dark , $alpha: .4);
            z-index: 20;
        }

    }

    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }
}